* {
  margin: 0;
  padding: 0;
}

.columns {
  display: flex;
  height: 101vh;
}

.login-form {
  padding-left: 100px;
  padding-right: 100px;
}

.logo, .login-form {
  margin: auto 0;
  width: 100%;
}